body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #D5E5D5;
}

.email {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #c7d9dd;
}

h2 {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.click {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button,
.last {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 10px;
}

.button:hover,
.last:hover {
  background-color: #45a049;
}

.input {
  margin-top: 15px;
  text-align: center;
}

.adi {
  color: #4caf50;
  text-decoration: none;
}

.adi:hover {
  text-decoration: underline;
}

::placeholder {
  color: #5c7285;
}

.email li{
  padding: 5px 0px 0px 80px;
}